<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="smtp_client.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="smtp_client.Settings.ABGSC_DWConnectionString" connectionString="Data Source=abg-db10-osl;Initial Catalog=ABGSC_DW;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <smtp_client.Settings>
            <setting name="MailpartsFolderPath" serializeAs="String">
                <value>F:\source_files\smtp_client\mailparts</value>
            </setting>
            <setting name="MailBatchId" serializeAs="String">
                <value>1</value>
            </setting>
        </smtp_client.Settings>
    </applicationSettings>
</configuration>